@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';
//========HEADER========
.burger{
    display: none;
}
.header {
    position: relative;
    background-color: rgba(21, 10, 1, 0.21);
    border: 1px solid $grey;
    top: 0;
    left: 0;
    right: 0;
    // .header__inner
    &__inner {
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: rem(100);
    }
    // .header__logo
    &__logo {
        @include adaptiveValue('width', 310, 190, 1);
        height: rem(100);
        border: 1px solid transparent;
        border-image: url(../images/logo-border.png);
        border-image-slice: 1 1;
        padding-top: rem(25);
        @include adaptiveValue('padding-left', 25, 15, 1);
    }
    img{
        max-width: 100%;
        min-height: 50%;
    }
}
.menu {
    // .menu__list-item
    &__list-item {
        display: inline-block;
        padding-bottom: 5px;
        @include adaptiveValue('margin-left', 40, -40, 1);
        transition: all .3s;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        &:hover{
            border-bottom: 1px solid $grey;
            color: #a7a7a7;
        }
    }
}
// ===========MAIN==============
.main {
    // .main__section
    &__section {
        width: 100%;
        padding-top: rem(30);
        position: relative;
        z-index: 1;
    }
}
.content {
    // .content__inner
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // .content__left
    &__left {
        flex: 0 1 50%;
    }
    // .content__heading
    &__heading {
        @include adaptiveValue('font-size', 55, 40, 1);
        font-weight: 700;
        @include adaptiveValue('margin-bottom', 80, 30, 1);
        background-image: linear-gradient(90deg, #fff, #ff440a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        span{
            display: block;
            margin-top: rem(-8);
            font-size: rem(24);
            font-weight: 500;
        }
    }
    // .content__button
    &__button {
        font-size: rem(14);
        font-weight: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(210);
        height: rem(65);
        background-image: url(../images/button-border.png);
        margin-left: rem(-16);
        a{
            transition: all .3s;
            &:hover{
                color: #ffa285;
            }
        }
    }
    // .content__advatages
    &__advatages {
        flex: 0 1 50%;
    }
}
.adavantages {
    // .adavantages__inner
    &__inner {
        display: grid;
        grid-template-columns: rem(180) rem(180);
        grid-template-rows: rem(180) rem(180);
        grid-gap: rem(11);
        float: right;
    }
    // .adavantages__item
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: rem(18);
        font-weight: 100;
        cursor: pointer;
        transition: all .3s;
        &-1{
            border-right: 1px solid transparent;
            border-bottom: 1px solid transparent;
            box-shadow: inset -26px -21px 83px -40px #20212b;
            &:hover{
                box-shadow: inset -26px -21px 83px -40px #575a61;
                border-right: 1px solid #585b62;
                border-bottom: 1px solid #585b62;
            }
        }
        &-2{
            border-left: 1px solid transparent;
            border-bottom: 1px solid transparent;
            box-shadow: inset 26px -21px 83px -40px #20212b;
            &:hover{
                box-shadow: inset 26px -21px 83px -40px #575a61;
                border-left: 1px solid #585b62;
                border-bottom: 1px solid #585b62;
            }
        }
        &-3{
            border-right: 1px solid transparent;
            border-top: 1px solid transparent;
            box-shadow: inset -26px 21px 83px -40px #20212b;
            &:hover{
                box-shadow: inset -26px 21px 83px -40px #575a61;
                border-right: 1px solid #585b62;
                border-top: 1px solid #585b62;
            }
        }
        &-4{
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            box-shadow: inset 26px 21px 83px -40px #20212b;
            &:hover{
                box-shadow: inset 26px 21px 83px -40px #575a61;
                border-left: 1px solid #585b62;
                border-top: 1px solid #585b62;
            }
        }
        span{
            display: block;
            font-weight: 900;
            font-size: rem(43);
        }
    }
}

@import 'media';